<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Tela de Cadastro</title>
</head>
<body>

    <h1>Tela de Cadastro</h1>

    <form action="/" method="post">
        <div class="corpo">
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="text" name="sobrenome" placeholder="Sobrenome" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="tel" name="whatsapp" placeholder="Whatsapp" required>
            <input type="number" name="cep" id="cep" placeholder="Digite CEP" maxlength="8">
            <button type="button" id="buscar">Buscar</button>
            <div id="resultado"></div>
            <input type="text" name="logradouro" placeholder="Logradouro">
            <input type="text" name="numero" placeholder="Número" required>
            <input type="text" name="complemento" placeholder="Complemento" >
            <input type="text" name="bairro" placeholder="Bairro" required>
            <input type="text" name="cidade" placeholder="Cidade" required>
            <input type="text" name="uf" placeholder="Estado" required>
        </div>
        
        <input type="submit" value="Enviar">

    </form>
   <script src="/js/script.js"></script>
</body>
</html>
